@import "variables";

.container {
    // margin-left: $header-width;
    // padding-left: $header-width;
    transition: $header-transition;
    margin-left: $header-width;
    width: calc(100% - 80px);
    max-width: 2000px;

    &__header {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__action-button {
        display: block;
        width: 300px;
        margin: 0 auto;
        border-radius: 40px;
        border: none;
        color: #efefef;
        background: linear-gradient($primary-light, $primary-dark) no-repeat;
        text-shadow: 0 1.5px 0 #4b5ef0;
        // background: #007bff;
        box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0), 0 3px 0px 0 $primary-darker;
        transition: $header-transition;

        &:hover {
            box-shadow: 0 3px 0px 0 $primary-darker, 0 0px 15px 0px $primary-light;
            transform: translateY(-2.5px);
        }
    }

    &__form {
        width: 80%;
        max-width: 800px;
        margin: 30px auto 0;

        & > .form-group:last-of-type {
            margin-bottom: 0;
        }

        & .container__formlabel {
            font-size: 1.25rem;
            padding-left: 10px;
        }

        & .container__input {
            border-radius: 50px;
        }
    }
}

.table {
    overflow: hidden;

    & > thead {
        border-radius: 25px;
    }
}
