@import "variables";

.container {
    margin-left: $header-width;
    padding-top: 30px;
    transition: $header-transition;
    width: calc(100% - 60px);

    &__header {
        text-align: center;
    }
}

.table {
    overflow: hidden;

    & > thead {
        border-radius: 25px;
    }
}